/*
    source: codepen.io/AngelaVelasquez/pen/BWXbxP
*/
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,900");

.form {
    max-width: 610px;
}

.inputGroup {
    display: inline-block;
    box-sizing: border-box;
    width: 23%;
    margin: 2px 1% 2px 0;
    font-size: 22px;
    text-align: center;
}

label.ankets {
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    opacity: .75;
    transition: all .3s ease-in-out;
}

label.ankets:hover, label.ankets:focus, label.ankets:active {
    border: 1px solid black;
}

input[type="radio"] {
    opacity: 0;
    width: 0;
    height: 0;
}

input[type="radio"]:checked ~ label.ankets {
    opacity: 1;
    border: 1px solid black;
    background-color: #e4e4e4;
}